<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-education"></span> {{'postdocDialogText1' | translate}}
    </h4>
</div>
<form name="postdocForm">
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="alert alert-warning">{{'proccessApplicIntrucFile' | translate}}</div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="investigation">{{'postdocDialogLbInvestigation' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="investigation" id="investigation"
                               placeholder="{{'postdocDialogPhInvestigation' | translate}}"
                               ng-model="postdoc.investigation" required="required" ng-pattern="patternInvestigation">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="postdocForm.investigation.$error.pattern">{{'postdocDialogMsgText1' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="entity">{{'univTeachingDialogLbEntity' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="entity" id="entity"
                               placeholder="{{'univTeachingDialogPhEntity' | translate}}"
                               ng-model="postdoc.entity" required="required" ng-pattern="patternEntity">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0" ng-show="postdocForm.entity.$error.pattern">{{'univTeachingDialogMsgText1' | translate}}</span>
            </div>
            <div class="input-group input-daterange col-xs-12" id="datepicker" mydatepicker-rangedate style="margin-bottom: 15px;">
                <div class="form-group input-group-xs required" >
                    <label for="startDate" class="col-xs-4 control-label">{{'educationDialogPhStartDate' | translate}} *</label>
                    <div class="col-xs-7">
                        <div class="form-group">
                            <input type="text" class="form-control" name="startDate" id="startDate"
                                   ng-model="postdoc.startDate" required="required"
                                   placeholder="{{'educationDialogPhStartDate' | translate}}" />
                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>-->
                        </div>
                    </div>
                    <span class="text-danger text-right col-xs-11" style="margin: 10px 0 10px 0;" ng-show="!educationForm.$pristine && educationForm.startDate.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                </div>
                <div class="form-group input-group-xs required" style="margin: 50px 0 15px 0;">
                    <label for="endDate" class="col-xs-4 control-label">{{'educationDialogPhEndDate' | translate}} *</label>
                    <div class="col-xs-7">
                        <div class="form-group">
                            <input type="text" class="form-control" name="endDate" id="endDate"
                                   ng-model="postdoc.endDate" required="required"
                                   placeholder="{{'educationDialogPhEndDate' | translate}}" />
                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>-->
                        </div>
                    </div>
                    <span class="text-danger text-right col-xs-11" style="margin: 10px 0 10px 0;" ng-show="!educationForm.$pristine && educationForm.endDate.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 15px;">
                <label for="fileTitle" class="col-xs-4 control-label">{{'postdocDialogLbTitleUpload' | translate}} *</label>
                <div class="col-xs-7">
                    <div class="form-group">
                        <div class="input text required">
                            <input type="file" ng-model="expCourse.fileTitle" name="fileTitle" load-filename  id="fileTitle">
                        </div>
                    </div>
                </div>
                <div ng-if="dataEmpty == false" id="viewFile" class="panel panel-success col-xs-offset-4 col-xs-7" style="padding: 0px; margin-bottom: 0px;">
                    <div class="panel-heading" style="padding: 5px 15px;">
                        <a href="{{postdoc.urlFile}}" target="_blank"><span class="glyphicon glyphicon-download-alt panel-title" aria-hidden="true"></span>
                            <span class="sr-only"></span>{{postdoc.nameFile}}
                        </a>
                    </div>
                </div>
                <span class="col-sm-12 text-danger text-right" ng-show="postdocForm.fileTitle.$error.pattern">{{'userregMsgText5' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'educationDialogBtnCancel' | translate}}</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm(postdoc)">{{'postdocDialogBtnPostdoc' | translate}}</button>
</div>
</form>