<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-book"></span> {{'publishedBookDialogText1' | translate}}
    </h4>
</div>
<form name="publishedBookForm">
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="participationsBook">{{'processApplicSec4TbhParticipation' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" required="required" id="participationsBook" name="participationsBook"
                                ng-options="item as item.description | translate for item in publishedBook.participationsBook track by item.id"
                                ng-model="publishedBook.participationBookSelected">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0" ng-show="!publishedBookForm.$pristine && publishedBookForm.participationsBook.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="title">{{'publishedBookDialogLbTitle' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="title" id="title"
                               placeholder="{{'publishedBookDialogPhTitle' | translate}}"
                               ng-model="publishedBook.title" required="required" ng-pattern="patternTitle">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="publishedBookForm.title.$error.pattern">{{'educationDialogMsgText1' | translate}}</span>
            </div>
            <div ng-show="publishedBook.participationBookSelected.id === 'C'" class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="chapter">{{'publishedBookDialogLbChapter' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="chapter" id="chapter"
                               placeholder="{{'publishedBookDialogPhChapter' | translate}}"
                               ng-model="publishedBook.chapter" ng-required="publishedBook.participationBookSelected.id === 'C'" ng-pattern="patternChapter">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="publishedBookForm.chapter.$error.pattern">{{'educationDialogMsgText1' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="editorial">{{'publishedBookDialogLbEditorial' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <textarea class="form-control"
                                  name="editorial" id="editorial" rows="4"
                                  placeholder="{{'publishedBookDialogPhEditorial' | translate}}"
                                  ng-model="publishedBook.editorial" required="required" ng-pattern="patternEditorial"></textarea>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="publishedBookForm.editorial.$error.pattern">{{'publishedBookDialogMsgText1' | translate}}</span>
            </div>
            <div class="form-group input-group-xs required">
                <label for="pubYear" class="col-xs-4 control-label">{{'publishedBookDialogLbPubYear' | translate}} *</label>
                <div class="col-xs-7">
                    <div class="input-group date" mydatepicker-year style="width: 275px; margin-bottom: 15px;">
                        <input type="text" class="form-control" name="pubYear" id="pubYear"
                               ng-model="publishedBook.pubYear" required="required"
                               placeholder="{{'publishedBookDialogPhPubYear' | translate}}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'educationDialogBtnCancel' | translate}}</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm(advice)">{{'publishedBookDialogBtnAdd' | translate}}</button>
</div>
</form>