<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-education"></span> {{'directedThesisDialogText1' | translate}}
    </h4>
</div>
<form name="directedThesisForm">
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="thesisTitle">{{'directedThesisDialogLbThesis' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="thesisTitle" id="thesisTitle"
                               placeholder="{{'directedThesisDialogPhThesis' | translate}}"
                               ng-model="directedThesis.thesisTitle" required="required" ng-pattern="patternThesisTitle">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="directedThesisForm.thesisTitle.$error.pattern">{{'educationDialogMsgText1' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="estudentName">{{'directedThesisDialogLbEstudentName' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="estudentName" id="estudentName"
                               placeholder="{{'directedThesisDialogPhEstudentName' | translate}}"
                               ng-model="directedThesis.estudentName" required="required" ng-pattern="patternEstudentName">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="directedThesisForm.estudentName.$error.pattern">{{'directedThesisDialogMsgText1' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="university">{{'directedThesisDialogLbUniversity' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="university" id="university"
                               placeholder="{{'directedThesisDialogPhUniversity' | translate}}"
                               ng-model="directedThesis.university" required="required" ng-pattern="patternUniversity">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="directedThesisForm.university.$error.pattern">{{'directedThesisDialogMsgText2' | translate}}</span>
            </div>
            <div class="form-group input-group-xs required">
                <label for="year" class="col-xs-4 control-label">{{'processApplicSec3TbhYear' | translate}} *</label>
                <div class="col-xs-7">
                    <div class="input-group date" mydatepicker-year style="width: 275px; margin-bottom: 15px;">
                        <input type="text" class="form-control" name="year" id="year"
                               ng-model="directedThesis.year" required="required"
                               placeholder="{{'conferenceDialogPhYear' | translate}}" name="birthday">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="levels">{{'directedThesisDialogLbLevel' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" required="required" id="levels" name="levels"
                                ng-options="item as item.description | translate for item in directedThesis.levels track by item.id"
                                ng-model="directedThesis.levelSelected">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0" ng-show="!directedThesisForm.$pristine && directedThesisForm.levels.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'educationDialogBtnCancel' | translate}}</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm(education)">{{'directedThesisDialogBtnAdd' | translate}}</button>
</div>
</form>