<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-certificate"></span> {{'scholarshipDialogText1' | translate}}
    </h4>
</div>
<form name="scholarshipForm">
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="alert alert-warning">{{'proccessApplicIntrucFile' | translate}}</div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="typesRecognition">{{'scholarshipDialogLbType' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" required="required" name="typesRecognition" id="typesRecognition"
                                ng-options="item as item.description | translate for item in scholarship.typesRecognition track by item.id"
                                ng-model="scholarship.typeRecognitionSelected">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0" ng-show="!scholarshipForm.$pristine && scholarshipForm.typesRecognition.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="description">{{'patentDialogLbDescription' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <textarea class="form-control"
                                  name="description" id="description" rows="4"
                                  placeholder="{{'patentDialogPhDescription' | translate}}"
                                  ng-model="scholarship.description" required="required" ng-pattern="patternDescription"></textarea>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="scholarshipForm.description.$error.pattern">{{'univTeachingDialogMsgText2' | translate}}</span>
            </div>
            <div class="form-group input-group-xs required">
                <label for="year" class="col-xs-4 control-label">{{'processApplicSec3TbhYear' | translate}} *</label>
                <div class="col-xs-7">
                    <div class="input-group date" mydatepicker-year style="width: 275px; margin-bottom: 15px;">
                        <input type="text" class="form-control" name="year" id="year"
                               ng-model="scholarship.year" required="required"
                               placeholder="{{'processApplicSec3TbhYear' | translate}}" name="birthday">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin: 15px 0px;">
                <label for="fileTitle" class="col-xs-4 control-label">{{'scholarshipDialogLbTitleUpload' | translate}}</label>
                <div class="col-xs-7">
                    <div class="form-group">
                        <div class="input text">
                            <input type="file" ng-model="scholarship.fileTitle" name="fileTitle" load-filename  id="fileTitle">
                        </div>
                    </div>
                </div>
                <div ng-if="dataEmpty == false && scholarship.nameFile !== null" id="viewFile" class="panel panel-success col-xs-offset-4 col-xs-7" style="padding: 0px; margin-bottom: 0px;">
                    <div class="panel-heading" style="padding: 5px 15px;">
                        <a href="{{scholarship.urlFile}}" target="_blank"><span class="glyphicon glyphicon-download-alt panel-title" aria-hidden="true"></span>
                            <span class="sr-only"></span>{{scholarship.nameFile}}
                        </a>
                    </div>
                </div>
                <span class="col-sm-12 text-danger text-right" ng-show="scholarshipForm.fileTitle.$error.pattern">{{'userregMsgText5' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'educationDialogBtnCancel' | translate}}</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm(conference)">{{'scholarshipDialogBtnAdd' | translate}}</button>
</div>
</form>