<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-blackboard"></span> {{'conferenceDialogText1' | translate}}
    </h4>
</div>
<form name="conferenceForm">
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="alert alert-warning">{{'proccessApplicIntrucFile' | translate}}</div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="confTitle">{{'conferenceDialogLbConfTitle' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="confTitle" id="confTitle"
                               placeholder="{{'conferenceDialogPhConfTitle' | translate}}"
                               ng-model="conference.confTitle" required="required" ng-pattern="patternTitle">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="conferenceForm.confTitle.$error.pattern">{{'educationDialogMsgText1' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="description">{{'univTeachingDialogLbDescription' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <textarea class="form-control"
                                  name="description" id="description" rows="3"
                                  placeholder="{{'univTeachingDialogPhDescription' | translate}}"
                                  ng-model="conference.description" required="required" ng-pattern="patternDescription"></textarea>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="conferenceForm.description.$error.pattern">{{'univTeachingDialogMsgText2' | translate}}</span>
            </div>
            <div class="form-group input-group-xs required">
                <label for="year" class="col-xs-4 control-label">{{'processApplicSec3TbhYear' | translate}} *</label>
                <div class="col-xs-7">
                    <div class="input-group date" mydatepicker-year style="width: 275px; margin-bottom: 15px;">
                        <input type="text" class="form-control" name="year" id="year"
                               ng-model="conference.year" required="required"
                               placeholder="{{'conferenceDialogPhYear' | translate}}" name="birthday">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="countrys">{{'languageDialogLbCountrys' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" required="required" name="countrys" id="countrys"
                                ng-options="item as item.{{descriptionField}} | translate for item in conference.countrys track by item.id"
                                ng-model="conference.countrySelected">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0" ng-show="!conferenceForm.$pristine && conferenceForm.countrys.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
            </div>
            <div class="form-group input-group-xs" style="margin-bottom: 15px;">
                <label class="control-label col-xs-9" for="guestSpeaker">{{'conferenceDialogLbGuestSpeaker' | translate}} *</label>
                <div class="col-xs-3" style="padding-right: 0px;">
                    <div class="radio radio-info radio-inline">
                        <input id="yesGuestSpeaker" type="radio" name="yesGuestSpeaker" ng-value="true" ng-model="conference.guestSpeaker" ng-required="!conference.guestSpeaker">
                        <label for="yesGuestSpeaker">{{'yes' | translate}}</label>
                    </div>
                    <div class="radio radio-inline">
                        <input id="noGuestSpeaker" type="radio" name="noGuestSpeaker" ng-value="false" ng-model="conference.guestSpeaker" ng-required="!conference.guestSpeaker">
                        <label for="noGuestSpeaker">{{'no' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group input-group-xs" style="margin-top: 15px;">
                <label class="control-label col-xs-9" for="oralSpeaker">{{'conferenceDialogLbOralSpeaker' | translate}} *</label>
                <div class="col-xs-3" style="padding-right: 0px; margin-bottom: 20px;">
                    <div class="radio radio-info radio-inline">
                        <input id="yesOralSpeaker" type="radio" name="yesOralSpeaker" ng-value="true" ng-model="conference.oralSpeaker" ng-required="!conference.oralSpeaker">
                        <label for="yesOralSpeaker">{{'yes' | translate}}</label>
                    </div>
                    <div class="radio radio-inline">
                        <input id="noOralSpeaker" type="radio" name="noOralSpeaker" ng-value="false" ng-model="conference.oralSpeaker" ng-required="!conference.oralSpeaker">
                        <label for="noOralSpeaker">{{'no' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin: 15px 0px;">
                <label for="fileTitle" class="col-xs-4 control-label">{{'conferenceDialogLbTitleUpload' | translate}}</label>
                <div class="col-xs-7">
                    <div class="form-group">
                        <div class="input text">
                            <input type="file" ng-model="conference.fileTitle" name="fileTitle" load-filename  id="fileTitle">
                        </div>
                    </div>
                </div>
                <div ng-if="dataEmpty == false && conference.nameFile !== null" id="viewFile" class="panel panel-success col-xs-offset-4 col-xs-7" style="padding: 0px; margin-bottom: 0px;">
                    <div class="panel-heading" style="padding: 5px 15px;">
                        <a href="{{conference.urlFile}}" target="_blank"><span class="glyphicon glyphicon-download-alt panel-title" aria-hidden="true"></span>
                            <span class="sr-only"></span>{{conference.nameFile}}
                        </a>
                    </div>
                </div>
                <span class="col-sm-12 text-danger text-right" ng-show="conferenceForm.fileTitle.$error.pattern">{{'userregMsgText5' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'educationDialogBtnCancel' | translate}}</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm(conference)">{{'conferenceDialogBtnAdd' | translate}}</button>
</div>
</form>