<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-education"></span> {{'educationDialogText1' | translate}}
    </h4>
</div>
<form name="educationForm" novalidate>
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="alert alert-warning">{{'proccessApplicIntrucFile' | translate}}</div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="title">{{'educationDialogLbTitle' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="title" id="title"
                               placeholder="{{'educationDialogPhTitle' | translate}}"
                               ng-model="education.title" required="required" ng-pattern="patternTitle">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="educationForm.title.$error.pattern">{{'educationDialogMsgText1' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="areasExpertise">{{'educationDialogLbAreaExp' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" required="required" ng-change="areaChanged()" id="areasExpertise" name="areasExpertise"
                                ng-options="item as item.{{descriptionField}} | translate for item in education.areasExpertise track by item.id"
                                ng-model="education.areaExpertiseSelected">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="!educationForm.$pristine && educationForm.areasExpertise.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
            </div>
            <div class="form-group input-group-xs" ng-show="education.areaExpertiseSelected.id !== 0 || education.areaExpertiseSelected.id !== ''">
                <label class="control-label col-xs-4" for="subAreasExpertise">{{'educationDialogLbSubAreaExp' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" required="required" id="subAreasExpertise" name="subAreasExpertise"
                                ng-options="item as item.{{descriptionField}} | translate for item in education.subAreasExpertise track by item.id"
                                ng-model="education.subAreaExpertiseSelected">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="!educationForm.$pristine && educationForm.subAreasExpertise.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="university">{{'educationDialogLbUniv' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="university" id="university"
                               placeholder="{{'educationDialogPhUniv' | translate}}"
                               ng-model="education.university" required="required" ng-pattern="patternUniversity">
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0" ng-show="educationForm.university.$error.pattern">{{'educationDialogMsgText2' | translate}}</span>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="countrys">{{'educationDialogLbCountrys' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" required="required" id="countrys" name="countrys"
                                ng-options="item as item.{{descriptionField}} | translate for item in education.countrys track by item.id"
                                ng-model="education.countrySelected">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="!educationForm.$pristine && educationForm.countrys.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
            </div>
            <div class="input-group input-daterange col-xs-12" id="datepicker" mydatepicker-rangedate style="margin-bottom: 15px;">
                <div class="form-group input-group-xs required" >
                    <label for="startDate" class="col-xs-4 control-label">{{'educationDialogPhStartDate' | translate}} *</label>
                    <div class="col-xs-7">
                        <div class="form-group">
                            <input type="text" class="form-control" name="startDate" id="startDate"
                                   ng-model="education.startDate" required="required"
                                   placeholder="{{'educationDialogPhStartDate' | translate}}" />
                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>-->
                        </div>
                    </div>
                    <span class="text-danger text-right col-xs-11" style="margin: 10px 0 10px 0;" ng-show="!educationForm.$pristine && educationForm.startDate.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                </div>
                <div class="form-group input-group-xs required" style="margin: 50px 0 15px 0;">
                    <label for="endDate" class="col-xs-4 control-label">{{'educationDialogPhEndDate' | translate}} *</label>
                    <div class="col-xs-7">
                        <div class="form-group">
                            <input type="text" class="form-control" name="endDate" id="endDate"
                                   ng-model="education.endDate" required="required"
                                   placeholder="{{'educationDialogPhEndDate' | translate}}" />
                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>-->
                        </div>
                    </div>
                    <span class="text-danger text-right col-xs-11" style="margin: 10px 0 10px 0;" ng-show="!educationForm.$pristine && educationForm.endDate.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                </div>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="getTitles">{{'educationDialogLbGetTitles' | translate}} *</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" required="required" id="getTitles" name="getTitles"
                                ng-options="item as item.{{descriptionField}} | translate for item in education.getTitles track by item.id"
                                ng-model="education.getTitleSelected">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
                <span class="text-danger text-right col-xs-11" style="margin: -10px 0 10px 0;" ng-show="!educationForm.$pristine && educationForm.getTitles.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
            </div>
            <div class="form-group" style="margin-bottom: 15px;">
                <label for="fileTitle" class="col-xs-4 control-label">{{'educationDialogLbTitleUpload' | translate}} *</label>
                <div class="col-xs-7">
                    <div class="form-group">
                        <div class="input text required">
                            <input type="file" ng-model="education.fileTitle" name="fileTitle" load-filename  id="fileTitle">
                        </div>
                    </div>
                </div>
                <div ng-if="dataEmpty == false" id="viewFile" class="panel panel-success col-xs-offset-4 col-xs-7" style="padding: 0px; margin-bottom: 0px;">
                    <div class="panel-heading" style="padding: 5px 15px;">
                        <a href="{{education.urlFile}}" target="_blank"><span class="glyphicon glyphicon-download-alt panel-title" aria-hidden="true"></span>
                            <span class="sr-only"></span>{{education.nameFile}}
                        </a>
                    </div>
                </div>
                <span class="col-sm-12 text-danger text-right" ng-show="educationForm.fileTitle.$error.pattern">{{'userregMsgText5' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{'educationDialogBtnCancel' | translate}}</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm(education)">{{'educationDialogBtnEducation' | translate}}</button>
</div>
</form>