<div class="jumbotron">
    <div class="row" ng-controller="qualifyCtrl as qc" ng-init="qc.initCtrl()">
        <div class="col-md-12 panel panel-default">
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="width: 60%; text-align: left;"><h3 style="margin: 0;">CALIFICAR POSTULACIÓN</h3></td>
                            <td style="width: 40%; text-align: right;">
                                <button type="button" class="btn btn-default btn-primary" ng-click="dbo.searchApplication()">
                                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Historial de calificaciones
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <h4>Datos del postulante</h4>
                    <table class="table table-hover table-striped table-condensed" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th style="width: 20%;">Nombre</th>
                                <th style="width: 25%;">Apellidos</th>
                                <th style="width: 20%;">Correo electrónico</th>
                                <th style="width: 20%;">Teléfono Principal</th>
                                <th style="width: 15%;">Tipo Perfil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{qc.applicData.nombres}}</td>
                                <td>{{qc.applicData.apellidos}}</td>
                                <td>{{qc.applicData.email}}</td>
                                <td></td>
                                <td>{{qc.applicData.tipoPostulacionNombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="row" style="margin: 0;">
                        <div class="col-sm-3 alert" style="vertical-align: middle; margin-bottom: 0;">
                            <a type="button" class="btn btn-default btn-sm btn-warning" style="font-size: 12px;" ng-href="#/application-detail/{{qc.applicData.idPostulacion}}" target="_blank" title="{{'dashboardViewApplic' | translate}}">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Ver Postulación
                            </a>
                        </div>
                        <div class="col-sm-9 alert alert-info" style="margin-bottom: 0;">
                            Baremo Seleccionado: {{qc.scaleData.baremo}}
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="margin: 20px 0;">
                        <table class="table table-hover table-striped table-condensed" style="margin-bottom: 0px;">
                            <thead>
                            <tr>
                                <th style="width: 5%;">Orden</th>
                                <th style="width: 30%;">Pregunta</th>
                                <th style="width: 20%;">Ayuda</th>
                                <th style="width: 20%;">Valor de variable</th>
                                <th style="width: 15%;">Puntaje</th>
                                <th style="width: 10%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="qc.scaleDetails.length != 0" ng-repeat="scaleDetail in qc.scaleDetails">
                                <td style="padding: 10px; vertical-align: middle;">{{scaleDetail.id}}</td>
                                <td style="padding: 10px; vertical-align: middle;">{{scaleDetail.criterio}}</td>
                                <td style="padding: 10px; vertical-align: middle;" ng-bind-html="scaleDetail.variables"></td>
                                <td style="padding: 10px; vertical-align: middle;">{{scaleDetail.valores}}</td>
                                <td style="padding: 10px; vertical-align: middle;"></td>
                                <td style="vertical-align: middle;">
                                    <button type="button" class="btn btn-default btn-sm btn-success" style="font-size: 12px;" ng-click="qc.qualify(scaleDetail)" title="Baremo. {{scale.baremo}}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Calificar
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="row" style="margin: 0;">
                        <table>
                            <tr>
                                <td style="width: 90%">
                                    <label>¿El Baremo seleccionado es correcto?</label>
                                </td>
                                <td style="width: 10%">
                                    <div class="radio radio-info radio-inline">
                                        <input id="scaleCorrectYes" type="radio" name="scaleCorrectYes" ng-value="true" ng-model="qc.scaleCorrect">
                                        <label for="scaleCorrectYes">Sí</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input id="scaleCorrectNo" type="radio" name="scaleCorrectNo" ng-value="false" ng-model="qc.scaleCorrect" ng-checked="true" >
                                        <label for="scaleCorrectNo">No</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 90%">
                                    <label>¿La información de postulación es consistente y completa? En caso de marcar NO, se solicitará describa las inconsistencias para que el postulante pueda corregirlas</label>
                                </td>
                                <td style="width: 10%">
                                    <div class="radio radio-info radio-inline">
                                        <input id="scaleCompleteYes" type="radio" name="scaleCompleteYes" ng-value="true" ng-model="qc.scaleComplete">
                                        <label for="scaleCompleteYes">Sí</label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input id="scaleCompleteNo" type="radio" name="scaleCompleteNo" ng-value="false" ng-model="qc.scaleComplete" ng-checked="true" >
                                        <label for="scaleCompleteNo">No</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                    <div class="row text-right" style="margin: 0;">
                        <button type="button" class="btn btn-sm btn-primary" style="font-size: 12px;" ng-click="qc.qualifyEnd()" title="Finalizar calificación">Finalizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>