<div class="jumbotron">
    <div class="row" ng-controller="processApplicSection2Ctrl as pasec2" ng-init="pasec2.initCtrl()">
        <div class="col-md-12 panel panel-default">
            <!--<div class="col-md-12 panel panel-default">
                    {{'processApplicText2' | translate}}
            </div>-->
            <div class="col-md-12">
                <div class="col-md-4">
                    <h4><label class="text-primary">
                        <span aria-hidden="true" class="glyphicon glyphicon-question-sign"></span>
                        <span class="sr-only">Error:</span>
                        {{'processApplicText1' | translate}}</label></h4> <!--{{'processApplicText3' | translate}}-->
                </div>
                <div ng-class="{'col-md-6' : pasec2.applicGralInfo.avance == 100,'col-md-8' : pasec2.applicGralInfo.avance != 100}" style="padding: 0;">
                    <div class="progress progress-striped" style="margin: 10px;">
                        <div class="progress-bar {{pasec2.classProgress}}" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{pasec2.applicGralInfo.avance}}%">
                            <span ng-class="{'text-primary' : pa.applicGralInfo.avance == 0}">{{pasec2.applicGralInfo.avance}}%</span>
                        </div>

                    </div>
                </div>
                <div class="col-md-2" style="padding: 0; margin: 5px 0;" ng-show="pasec2.applicGralInfo.avance == 100">
                    <button type="button" class="btn btn-info" ng-click="registerApplic1()">{{'processApplicBtn1' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 panel panel-default" style="padding: 10px">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/section1-general-information">{{'processApplicMenu1' | translate}}</a></li>
                <li class="active"><a href="#/section2-education">{{'processApplicMenu2' | translate}}</a></li>
                <li><a href="#/section3-university-teaching">{{'processApplicMenu3' | translate}}</a></li>
                <li><a href="#/section4-work-experience">{{'processApplicMenu4' | translate}}</a></li>
                <li><a href="#/section5-affiliation">{{'processApplicMenu5' | translate}}</a></li>
                <li><a href="#/section6-file">{{'processApplicMenu6' | translate}}</a></li>
                <li><a href="#/section7-to-complete">{{'processApplicMenu7' | translate}}</a></li>
            </ul>
        </div>
        <div class="col-md-9 panel panel-default">
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="width: 60%; text-align: left;"><h3 style="margin: 0;">{{'processApplicSec2Text1' | translate}}</h3></td>
                            <td style="width: 40%; text-align: right;"><button type="button" class="btn btn-primary" ng-click="pasec2.instructionsSec2()">{{'processApplicSec1Btn1' | translate}}</button></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-striped table-condensed" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th style="width: 20px;">{{'processApplicSec2TbhDegree' | translate}}</th>
                                <th style="width: 40px;">{{'processApplicSec2TbhFieldSpec' | translate}}</th>
                                <th style="width: 20px;">{{'processApplicSec2TbhUniversity' | translate}}</th>
                                <th colspan="2" style="width: 20%; text-align: right;">
                                    <button type="button" class="btn btn-default btn-xs btn-success" style="font-size: 12px;" ng-click="pasec2.addEducation()">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{'processApplicSec2BtnAddEdu' | translate}}
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="pasec2.degrees.length === 0">
                                <td colspan="5">
                                    <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                        <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                        <span class="sr-only">Error:</span>
                                        {{'processApplicSec2TbEmpty' | translate}}
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="pasec2.degrees.length != 0" ng-repeat="degree in pasec2.degrees">
                                <td>{{degree.titulo}}</td>
                                <td ng-if="connectedUser.userLanguage== 'en_US'">{{degree.especializacionDescription}}</td>
                                <td ng-if="connectedUser.userLanguage == 'es_ES'">{{degree.especializacionDescripcion}}</td>
                                <td>{{degree.universidad}}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs btn-info" style="font-size: 12px;" ng-click="pasec2.editEducation(degree)">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{'processApplicSec2BtnEditEdu' | translate}}
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs btn-danger" style="font-size: 12px;" ng-click="pasec2.deleteEducation(degree.id)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{'processApplicSec2BtnDelEdu' | translate}}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="width: 60%; text-align: left;"><h3 style="margin: 0;">{{'processApplicSec2Text2' | translate}}</h3></td>
                            <td style="width: 40%; text-align: right;"><button type="button" class="btn btn-primary" ng-click="pasec2.instructionsSec2()">{{'processApplicSec1Btn1' | translate}}</button></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-striped table-condensed" style="margin-bottom: 0px;">
                        <thead>
                        <tr>
                            <th style="width: 10px;">{{'processApplicSec2TbhLanguage' | translate}}</th>
                            <th style="width: 40px;">{{'processApplicSec2TbhAbility' | translate}}</th>
                            <th colspan="2" style="width: 20%; text-align: right;">
                                <button type="button" class="btn btn-default btn-xs btn-success" style="font-size: 12px;"  ng-click="pasec2.addLanguage()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{'processApplicSec2BtnAddLang' | translate}}
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="pasec2.languages.length === 0">
                            <td colspan="5">
                                <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error:</span>
                                    {{'processApplicSec2TbEmpty' | translate}}
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="pasec2.languages.length != 0" ng-repeat="language in pasec2.languages">
                            <td ng-if="connectedUser.userLanguage == 'en_US'">{{language.description}}</td>
                            <td ng-if="connectedUser.userLanguage == 'es_ES'">{{language.descripcion}}</td>
                            <td>{{pasec2.abilitys[language.nivel].descripcion | translate}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs btn-info" style="font-size: 12px;"  ng-click="pasec2.editLanguage(language)">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{'processApplicSec2BtnEditEdu' | translate}}
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs btn-danger" style="font-size: 12px;" ng-click="pasec2.deleteLanguage(language.idLenguaje)">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{'processApplicSec2BtnDelEdu' | translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="width: 75%; text-align: left;"><h3 style="margin: 0;">{{'processApplicSec2Text3' | translate}}</h3></td>
                            <td style="width: 25%; text-align: right;"><button type="button" class="btn btn-primary" ng-click="pasec2.instructionsSec2()">{{'processApplicSec1Btn1' | translate}}</button></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <!--<div class="alert alert-warning">{{'proccessApplicIntrucPreCon' | translate}}</div>-->
                    <div class="form-group row">
                        <label class="control-label col-xs-9" for="postdoc">{{'processApplicSec2LbPostdoc' | translate}} *</label>
                        <div class="col-xs-2" style="padding-right: 0px;">
                            <div class="radio radio-info radio-inline">
                                <input id="yes" type="radio" name="yes" ng-value="true" ng-model="pasec2.postdoc" ng-disabled="pasec2.postdoc == true && pasec2.postdocs.length !== 0">
                                <label for="yes">{{'yes' | translate}}</label>
                            </div>
                            <div class="radio radio-inline">
                                <input id="no" type="radio" name="no" ng-value="false" ng-model="pasec2.postdoc" ng-disabled="pasec2.postdoc == true && pasec2.postdocs.length !== 0">
                                <label for="no">{{'no' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-striped table-condensed" style="margin-bottom: 0px;" ng-show="pasec2.postdoc">
                        <thead>
                        <tr>
                            <th style="width: 10px;">{{'processApplicSec2TbhInv' | translate}}</th>
                            <th style="width: 40px;">{{'processApplicSec3TbhEntity' | translate}}</th>
                            <th colspan="2" style="width: 20%; text-align: right;">
                                <button type="button" class="btn btn-default btn-xs btn-success" style="font-size: 12px;"  ng-click="pasec2.addPostdoc()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{'processApplicSec2BtnAddPostdoc' | translate}}
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="pasec2.postdocs.length === 0">
                            <td colspan="5">
                                <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error:</span>
                                    {{'processApplicSec2TbEmpty' | translate}}
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="pasec2.postdocs.length != 0" ng-repeat="postdoc in pasec2.postdocs">
                            <td>{{postdoc.nombreInvestigacion}}</td>
                            <td>{{postdoc.institucion}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs btn-info" style="font-size: 12px;"  ng-click="pasec2.editPostdoc(postdoc)">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{'processApplicSec2BtnEditEdu' | translate}}
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs btn-danger" style="font-size: 12px;" ng-click="pasec2.deletePostdoc(postdoc.id)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{'processApplicSec2BtnDelEdu' | translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="text-align: right; padding: 10px 15px;">
                <button type="button" class="btn btn-primary" ng-click="continue('section3-university-teaching')">{{'processApplicSec1Btn2' | translate}}</button>
            </div>
        </div>
    </div>
</div>