<div class="jumbotron">
    <div class="row" ng-controller="processApplicSection5Ctrl as pasec5">
        <div class="col-md-12 panel panel-default" ng-init="pasec5.initCtrl()">
            <!--<div class="col-md-12 panel panel-default">
                    {{'processApplicText2' | translate}}
            </div>-->
            <div class="col-md-12">
                <div class="col-md-4">
                    <h4><label class="text-primary">
                        <span aria-hidden="true" class="glyphicon glyphicon-question-sign"></span>
                        <span class="sr-only">Error:</span>
                        {{'processApplicText1' | translate}}</label></h4> <!--{{'processApplicText3' | translate}}-->
                </div>
                <div ng-class="{'col-md-6' : pasec5.applicGralInfo.avance == 100,'col-md-8' : pasec5.applicGralInfo.avance != 100}" style="padding: 0;">
                    <div class="progress progress-striped" style="margin: 10px;">
                        <div class="progress-bar {{pasec5.classProgress}}" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{pasec5.applicGralInfo.avance}}%">
                            <span ng-class="{'text-primary' : pa.applicGralInfo.avance == 0}">{{pasec5.applicGralInfo.avance}}%</span>
                        </div>

                    </div>
                </div>
                <div class="col-md-2" style="padding: 0; margin: 5px 0;" ng-show="pasec5.applicGralInfo.avance == 100">
                    <button type="button" class="btn btn-info" ng-click="registerApplic1()">{{'processApplicBtn1' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 panel panel-default" style="padding: 10px">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/section1-general-information">{{'processApplicMenu1' | translate}}</a></li>
                <li><a href="#/section2-education">{{'processApplicMenu2' | translate}}</a></li>
                <li><a href="#/section3-university-teaching">{{'processApplicMenu3' | translate}}</a></li>
                <li><a href="#/section4-work-experience">{{'processApplicMenu4' | translate}}</a></li>
                <li class="active"><a href="#/section5-affiliation">{{'processApplicMenu5' | translate}}</a></li>
                <li><a href="#/section6-file">{{'processApplicMenu6' | translate}}</a></li>
                <li><a href="#/section7-to-complete">{{'processApplicMenu7' | translate}}</a></li>
            </ul>
        </div>
        <div class="col-md-9 panel panel-default">
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="width: 60%; text-align: left;"><h3 style="margin: 0;">{{'processApplicSec5Text1' | translate}}</h3></td>
                            <td style="width: 40%; text-align: right;"><button type="button" class="btn btn-primary" ng-click="pasec5.instructionsSec5()">{{'processApplicSec1Btn1' | translate}}</button></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning">{{'proccessApplicIntrucAffi' | translate}}</div>
                    <table class="table table-hover table-striped table-condensed" style="margin-bottom: 0px;">
                        <thead>
                        <tr>
                            <th style="width: 30%;">{{'univTeachingDialogLbEntity' | translate}}</th>
                            <th style="width: 50%;">{{'univTeachingDialogLbDescription' | translate}}</th>
                            <th colspan="2" style="width: 20%; text-align: right;">
                                <button type="button" class="btn btn-default btn-xs btn-success" style="font-size: 12px;" ng-click="pasec5.addAffiliation()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{'processApplicSec5BtnAddAffil' | translate}}
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="pasec5.affiliations.length === 0">
                            <td colspan="5">
                                <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error:</span>
                                    {{'processApplicSec2TbEmpty' | translate}}
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="pasec5.affiliations.length != 0" ng-repeat="affiliation in pasec5.affiliations">
                            <td>{{affiliation.institucion}}</td>
                            <td>{{affiliation.descripcion}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs btn-info" style="font-size: 12px;" ng-click="pasec5.editAffiliation(affiliation)">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{'processApplicSec2BtnEditEdu' | translate}}
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs btn-danger" style="font-size: 12px;" ng-click="pasec5.deleteAffiliation(affiliation.id)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{'processApplicSec2BtnDelEdu' | translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="width: 70%; text-align: left;"><h3 style="margin: 0;">{{'processApplicSec5Text2' | translate}}</h3></td>
                            <td style="width: 30%; text-align: right;"><button type="button" class="btn btn-primary" ng-click="pass.instructionsSec5()">{{'processApplicSec1Btn1' | translate}}</button></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning">{{'proccessApplicIntrucScho' | translate}}</div>
                    <table class="table table-hover table-striped table-condensed" style="margin-bottom: 0px;">
                        <thead>
                        <tr>
                            <th style="width: 30%;">{{'univTeachingDialogLbTypeReco' | translate}}</th>
                            <th style="width: 10%;">{{'processApplicSec3TbhYear' | translate}}</th>
                            <th style="width: 40%;">{{'univTeachingDialogLbDescription' | translate}}</th>
                            <th colspan="2" style="width: 20%; text-align: right;">
                                <button type="button" class="btn btn-default btn-xs btn-success" style="font-size: 12px;" ng-click="pasec5.addScholarship()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{'processApplicSec5BtnAddScho' | translate}}
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="pasec5.scholarships.length === 0">
                            <td colspan="5">
                                <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error:</span>
                                    {{'processApplicSec2TbEmpty' | translate}}
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="pasec5.scholarships.length != 0" ng-repeat="scholarship in pasec5.scholarships">
                            <td>{{scholarship.typeRecog | translate}}</td>
                            <td>{{scholarship.anio}}</td>
                            <td>{{scholarship.descripcion}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs btn-info" style="font-size: 12px;" ng-click="pasec5.editScholarship(scholarship)">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{'processApplicSec2BtnEditEdu' | translate}}
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs btn-danger" style="font-size: 12px;" ng-click="pasec5.deleteScholarship(scholarship.id)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{'processApplicSec2BtnDelEdu' | translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="width: 75%; text-align: left;"><h4 style="margin: 0;">{{'processApplicSec5Text3' | translate}}</h4></td>
                            <td style="width: 25%; text-align: right;"><button type="button" class="btn btn-primary" ng-click="pasec5.instructionsSec5()">{{'processApplicSec1Btn1' | translate}}</button></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning">{{'proccessApplicIntrucPreCon' | translate}}</div>
                    <form class="form-horizontal"  name="previousContactForm">
                        <div class="form-group row">
                            <label class="control-label col-xs-10" for="previousContact">{{'processApplicSec5LbPreviousContact' | translate}} *</label>
                            <div class="col-xs-2" style="padding-right: 0px;">
                                <div class="radio radio-info radio-inline">
                                    <input id="yes" type="radio" name="yes" ng-value="true" ng-model="pasec5.previousContact" ng-disabled="pasec5.previousContact == true && pasec5.acronym !== ''">
                                    <label for="yes">{{'yes' | translate}}</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input id="no" type="radio" name="no" ng-value="false" ng-model="pasec5.previousContact" ng-disabled="pasec5.previousContact == true && pasec5.acronym !== ''">
                                    <label for="no">{{'no' | translate}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="pasec5.previousContact">
                            <div class="form-group required">
                                <label for="institutions" class="col-sm-4 control-label">{{'processApplicLbInstitution' | translate}} *</label>
                                <div class="col-sm-7">
                                    <select class="form-control" required="required" name="institutions" id="institutions"
                                            ng-options="item as item.descripcion | translate for item in pasec5.institutions track by item.id"
                                            ng-model="pasec5.institutionSelected">
                                        <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                                    </select>
                                </div>
                                <span class="col-sm-12 text-danger text-right" ng-show="!previousContactForm.$pristine && previousContactForm.institutions.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                            </div>
                            <div class="form-group required">
                                <label for="acronym" class="col-sm-4 control-label">{{'processApplicLbAcronym' | translate}} *</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="acronym"
                                           ng-model="pasec5.acronym" required="required"
                                           placeholder="{{'processApplicPhAcronym' | translate}}"
                                           name="acronym" ng-pattern="patternAcronym">
                                </div>
                                <span class="col-sm-12 text-danger text-right" ng-show="previousContactForm.acronym.$error.pattern">{{'processApplicMsgText1' | translate}}</span>
                            </div>
                            <div class="form-group required">
                                <label for="contactName" class="col-sm-4 control-label">{{'processApplicLbContactName' | translate}} *</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="contactName"
                                           ng-model="pasec5.contactName" required="required"
                                           placeholder="{{'processApplicPhContactName' | translate}}"
                                           name="contactName" ng-pattern="patternContactName">
                                </div>
                                <span class="col-sm-12 text-danger text-right" ng-show="previousContactForm.contactName.$error.pattern">{{'processApplicMsgText2' | translate}}</span>
                            </div>
                            <div class="form-group required">
                                <label for="contactEmail" class="col-sm-4 control-label">{{'processApplicLbContactEmail' | translate}} *</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="contactEmail"
                                           ng-model="pasec5.contactEmail" required="required"
                                           placeholder="{{'processApplicPhContactEmail' | translate}}"
                                           name="contactEmail" ng-pattern="patternUserName">
                                </div>
                                <span class="col-sm-12 text-danger text-right" ng-show="previousContactForm.contactEmail.$error.email">{{'processApplicMsgText3' | translate}}</span>
                            </div>
                            <div class="form-group" style="padding: 0px 85px;">
                                <button type="submit" class="btn btn-success pull-right" ng-click="pasec5.setPreviousContact()">{{pasec5.btnTitle | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="text-align: right; padding: 10px 15px;">
                <button type="button" class="btn btn-primary" ng-click="continue('section6-file')">{{'processApplicSec1Btn2' | translate}}</button>
            </div>
        </div>
    </div>
</div>