<div class="jumbotron" ng-controller="processApplicCtrl as pa">
    <div class="row" ng-init="pa.initCtrl()">
        <div class="col-md-12 panel panel-default">
            <!--<div class="col-md-12 panel panel-default">
                    {{'processApplicText2' | translate}}
            </div>-->
            <div class="col-md-12">
                <div class="col-md-4">
                    <h4><label class="text-primary">
                        <span aria-hidden="true" class="glyphicon glyphicon-question-sign"></span>
                        <span class="sr-only">Error:</span>
                        {{'processApplicText1' | translate}}</label></h4> <!--{{'processApplicText3' | translate}}-->
                </div>
                <div ng-class="{'col-md-6' : pa.applicGralInfo.avance == 100,'col-md-8' : pa.applicGralInfo.avance != 100}" style="padding: 0;">
                    <div class="progress progress-striped" style="margin: 10px;">
                        <div class="progress-bar {{pa.classProgress}}" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{pa.applicGralInfo.avance}}%">
                            <span ng-class="{'text-primary' : pa.applicGralInfo.avance == 0}">{{pa.applicGralInfo.avance}}%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="padding: 0; margin: 5px 0;" ng-show="pa.applicGralInfo.avance == 100">
                    <button type="button" class="btn btn-info" ng-click="registerApplic1()">{{'processApplicBtn1' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 panel panel-default" style="padding: 10px">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#/section1-general-information">{{'processApplicMenu1' | translate}}</a></li>
                <li><a href="#/section2-education">{{'processApplicMenu2' | translate}}</a></li>
                <li><a href="#/section3-university-teaching">{{'processApplicMenu3' | translate}}</a></li>
                <li><a href="#/section4-work-experience">{{'processApplicMenu4' | translate}}</a></li>
                <li><a href="#/section5-affiliation">{{'processApplicMenu5' | translate}}</a></li>
                <li><a href="#/section6-file">{{'processApplicMenu6' | translate}}</a></li>
                <li><a href="#/section7-to-complete">{{'processApplicMenu7' | translate}}</a></li>
            </ul>
        </div>
        <div class="col-md-9 panel panel-default">
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="width: 60%; text-align: left;"><h3 style="margin: 0;">{{'processApplicSec1Text1' | translate}}</h3></td>
                            <td style="width: 40%; text-align: right;"><button type="button" class="btn btn-primary" ng-click="pa.instructionsSec1()">{{'processApplicSec1Btn1' | translate}}</button></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning">{{'proccessApplicIntrucFile' | translate}}</div>
                    <form class="form-horizontal" ng-submit="pa.setGeneralInfo()" name="gralInfoForm">
                        <div class="form-group required">
                            <label for="firstName" class="col-sm-4 control-label">{{'userregLbFirstName' | translate}} *</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="firstName"
                                       ng-model="pa.firstName" required="required" placeholder="{{'userregPhFirstName' | translate}}"
                                       name="firstName" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="lastName" class="col-sm-4 control-label">{{'userregLbLastName' | translate}} *</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="lastName"
                                       ng-model="pa.lastName" required="required"
                                       placeholder="{{'userregPhLastName' | translate}}"
                                       name="lastName" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="passport" class="col-sm-4 control-label">{{'processApplicLbPassport' | translate}} *</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="passport"
                                       ng-model="pa.passport" required="required"
                                       placeholder="{{'processApplicPhPassport' | translate}}"
                                       name="passport" ng-pattern="patternPassport">
                            </div>
                            <span class="col-sm-12 text-danger text-right" ng-show="gralInfoForm.passport.$error.pattern">{{'processApplicMsgText1' | translate}}</span>
                        </div>
                        <div class="form-group" style="margin-bottom: 15px;">
                            <label for="passportUpload" class="col-sm-4 control-label">{{'processApplicLbPassportUpload' | translate}} *</label>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <div class="input text required">
                                        <input type="file" ng-model="file" name="passportUpload" id="passportUpload" load-filename>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="pa.dataEmpty == false" id="viewFile" class="panel panel-success col-sm-offset-4 col-sm-7" style="padding: 0px; margin-bottom: 0px;">
                                <div class="panel-heading" style="padding: 5px 15px;">
                                    <a href="{{pa.urlFile}}" target="_blank"><span class="glyphicon glyphicon-download-alt panel-title" aria-hidden="true"></span>
                                        <span class="sr-only"></span>{{pa.nameFile}}
                                    </a>
                                </div>
                            </div>
                            <span class="col-sm-12 text-danger text-right" ng-show="gralInfoForm.passportUpload.$error.pattern">{{'userregMsgText5' | translate}}</span>
                        </div>
                        <div class="form-group required">
                            <label for="email" class="col-sm-4 control-label">{{'userregLbEmail' | translate}} *</label>
                            <div class="col-sm-7">
                                <input type="email" class="form-control" id="email"
                                       ng-model="pa.email" required="required"
                                       placeholder="{{'userregPhEmail' | translate}}" name="email" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="gender" class="col-sm-4 control-label">{{'processApplicLbGender' | translate}} *</label>
                            <div class="col-sm-7">
                                <select class="form-control" required="required" id="gender" name="gender"
                                        ng-options="item as item.description | translate for item in pa.genders track by item.id"
                                        ng-model="pa.genderSelected">
                                    <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                                </select>
                            </div>
                            <span class="col-sm-12 text-danger text-right" ng-show="!gralInfoForm.$pristine && gralInfoForm.gender.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                        </div>
                        <div class="form-group required">
                            <label for="birthday" class="col-sm-4 control-label">{{'processApplicLbBirthday' | translate}} *</label>
                            <div class="col-sm-7">
                                <div class="input-group date" mydatepicker style="width: 260px;">
                                    <input type="text" class="form-control"
                                           ng-model="pa.birthday" required="required" id="birthday"
                                           placeholder="{{'processApplicPhBirthday' | translate}}" name="birthday">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="birthCountry" class="col-sm-4 control-label">{{'processApplicLbBirthCountry' | translate}} *</label>
                            <div class="col-sm-7">
                                <select class="form-control" required="required" id="birthCountry" name="birthCountry"
                                        ng-options="item as item.descripcion | translate for item in pa.countrys track by item.id"
                                        ng-model="pa.birthCountrySelected">
                                    <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                                </select>
                            </div>
                            <span class="col-sm-12 text-danger text-right" ng-show="!gralInfoForm.$pristine && gralInfoForm.birthCountry.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                        </div>
                        <div class="form-group required">
                            <label for="residenceCountry" class="col-sm-4 control-label">{{'processApplicLbResidenceCountry' | translate}} *</label>
                            <div class="col-sm-7">
                                <select class="form-control" required="required" id="residenceCountry" name="residenceCountry"
                                        ng-options="item as item.descripcion | translate for item in pa.countrys track by item.id"
                                        ng-model="pa.residenceCountrySelected">
                                    <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                                </select>
                            </div>
                            <span class="col-sm-12 text-danger text-right" ng-show="!gralInfoForm.$pristine && gralInfoForm.residenceCountry.$error.required">{{'FIELD_MANDATORY' | translate}}</span>
                        </div>
                        <div class="form-group required">
                            <label for="postalAddress" class="col-sm-4 control-label">{{'processApplicLbPostalAddress' | translate}} *</label>
                            <div class="col-sm-7">
                            <textarea id="postalAddress" class="form-control" rows="3" required="required"
                                      ng-model="pa.postalAddress" name="postalAddress"
                                      placeholder="{{'processApplicPhPostalAddress' | translate}}"></textarea>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="mainPhone" class="col-sm-4 control-label">{{'processApplicLbMainPhone' | translate}} *</label>
                            <div class="col-sm-4">
                                <input type="tel" class="form-control" id="mainPhone"
                                       ng-model="pa.mainPhone" required="required"
                                       name="mainPhone" phone-input phone-value-int>
                            </div>
                            <div class="col-sm-4" style="vertical-align: middle;" ng-show="!gralInfoForm.$pristine && gralInfoForm.mainPhone.$error.required">
                                <span class="text-danger text-left"  >{{'FIELD_MANDATORY' | translate}}</span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="secondPhone" class="col-sm-4 control-label">{{'processApplicLbSecondPhone' | translate}}</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="secondPhone"
                                       ng-model="pa.secondPhone" name="secondPhone" phone-input phone-value-int>
                            </div>
                        </div>
                        <div class="form-group text-right" style="padding-right: 20px;">
                            <button type="submit" class="btn btn-primary">{{pa.processApplicBtn | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>