<div class="jumbotron">
    <div class="row" ng-controller="processApplicSection6Ctrl as pasec6">
        <div class="col-md-12 panel panel-default" ng-init="pasec6.initCtrl()">
            <!--<div class="col-md-12 panel panel-default">
                    {{'processApplicText2' | translate}}
            </div>-->
            <div class="col-md-12">
                <div class="col-md-4">
                    <h4><label class="text-primary">
                        <span aria-hidden="true" class="glyphicon glyphicon-question-sign"></span>
                        <span class="sr-only">Error:</span>
                        {{'processApplicText1' | translate}}</label></h4> <!--{{'processApplicText3' | translate}}-->
                </div>
                <div ng-class="{'col-md-6' : pasec6.applicGralInfo.avance == 100,'col-md-8' : pasec6.applicGralInfo.avance != 100}" style="padding: 0;">
                    <div class="progress progress-striped" style="margin: 10px;">
                        <div class="progress-bar {{pasec6.classProgress}}" role="progressbar"
                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{pasec6.applicGralInfo.avance}}%">
                            <span ng-class="{'text-primary' : pa.applicGralInfo.avance == 0}">{{pasec6.applicGralInfo.avance}}%</span>
                        </div>

                    </div>
                </div>
                <div class="col-md-2" style="padding: 0; margin: 5px 0;" ng-show="pasec6.applicGralInfo.avance == 100">
                    <button type="button" class="btn btn-info" ng-click="registerApplic1()">{{'processApplicBtn1' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 panel panel-default" style="padding: 10px">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/section1-general-information">{{'processApplicMenu1' | translate}}</a></li>
                <li><a href="#/section2-education">{{'processApplicMenu2' | translate}}</a></li>
                <li><a href="#/section3-university-teaching">{{'processApplicMenu3' | translate}}</a></li>
                <li><a href="#/section4-work-experience">{{'processApplicMenu4' | translate}}</a></li>
                <li><a href="#/section5-affiliation">{{'processApplicMenu5' | translate}}</a></li>
                <li class="active"><a href="#/section6-file">{{'processApplicMenu6' | translate}}</a></li>
                <li><a href="#/section7-to-complete">{{'processApplicMenu7' | translate}}</a></li>
            </ul>
        </div>
        <div class="col-md-9 panel panel-default">
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="width: 60%; text-align: left;"><h3 style="margin: 0;">{{'processApplicSec6Text1' | translate}}</h3></td>
                            <td style="width: 40%; text-align: right;"><button type="button" class="btn btn-primary" ng-click="pasec6.instructionsSec6()">{{'processApplicSec1Btn1' | translate}}</button></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning">{{'proccessApplicIntrucCV' | translate}}</div>
                    <form class="form-horizontal"  name="curriculumVitaeForm">
                        <div class="form-group" style="margin: 15px 0px;">
                            <label for="fileTitle" class="col-xs-4 control-label">{{'curriculumVitaeLbTitleUpload' | translate}} *</label>
                            <div class="col-xs-7">
                                <div class="form-group">
                                    <div class="input text required">
                                        <input type="file" ng-model="pasec6.fileTitle" name="fileTitle" load-filename  id="fileTitle">
                                    </div>
                                </div>
                            </div>
                            <div ng-if="pasec6.dataEmpty == false" id="viewFile" class="panel panel-success col-xs-offset-4 col-xs-7" style="padding: 0px; margin-bottom: 0px;">
                                <div class="panel-heading" style="padding: 5px 15px;">
                                    <a href="{{pasec6.urlFile}}" target="_blank"><span class="glyphicon glyphicon-download-alt panel-title" aria-hidden="true"></span>
                                        <span class="sr-only"></span>{{pasec6.nameFile}}
                                    </a>
                                </div>
                            </div>
                            <span class="col-sm-12 text-danger text-right" ng-show="curriculumVitaeForm.fileTitle.$error.pattern">{{'userregMsgText5' | translate}}</span>
                        </div>
                        <div class="form-group" style="padding: 0px 85px;">
                            <button type="submit" class="btn btn-success pull-right" ng-click="pasec6.setCurriculumVitae()">{{pasec6.btnTitle | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="text-align: right; padding: 10px 15px;">
                <button type="button" class="btn btn-primary" ng-click="continue('section7-to-complete')">{{'processApplicSec1Btn2' | translate}}</button>
            </div>
        </div>
    </div>
</div>