<div class="jumbotron" ng-controller="dashboardCtrl as dbo" ng-init="dbo.initCtrl()">
    <div ng-if="dbo.user.userRole == 'Postulante'" class="row" >
        <div class="col-md-3">
            <div class="col-md-12 panel panel-default">
                <button ng-show="!dbo.sendApplic" type="button" class="btn btn-primary dashboardBtnStartApplication" ng-click="dbo.selectProfileType()">{{dbo.startedApplicBtn | translate}}</button>
                <div ng-show="dbo.sendApplic" class="alert alert-warning" style="margin-top: 15px; text-align: center;">{{'dashboardBtnSendApplication' | translate}}</div>
            </div>
            <div class="col-md-12">
                <h3>{{'userregText1' | translate}}</h3>
                <p class="text-justify">{{'dashboardText2' | translate}}</p>
                <p class="text-justify">{{'dashboardText3' | translate}}</p>
                <p class="text-justify">{{'dashboardText4' | translate}}</p>
                <p class="text-justify">{{'dashboardText5' | translate}}</p>
            </div>
        </div>
        <div class="col-md-9 panel panel-default" style="padding-bottom: 20px;">
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading" style="padding: 0px 10px;">
                    <table width="100%">
                        <tr>
                            <td style="text-align: left;"><h4><label class="text-primary" style="margin-bottom: 0px;">{{'dashboardText6' | translate}}</label><span ng-if="dbo.noReadNotifCount > 0" class="notifications" ng-style="dbo.noReadNotifCount > 9 ? {'padding' : '9px 10px 10px 10px'} : {'padding' : '9px 13px 13px 13px'}">{{dbo.noReadNotifCount}}</span></h4></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body" ng-style="styleScrollNotifications" style="padding-top: 0px;" scroll-notifications>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>{{'dashboardTbhTitle' | translate}}</th>
                                <th>{{'dashboardTbhSentBy' | translate}}</th>
                                <th>{{'dashboardTbhCreated' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="dbo.notifications.length === 0">
                                <td colspan="5">
                                    <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                        <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                        <span class="sr-only">Error:</span>
                                        {{'dashboardNotifEmpty' | translate}}
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="dbo.notifications.length != 0" title="{{'dashboardViewNotif' | translate}}" ng-repeat="notification in dbo.notifications" ng-class="notification.prioridad == 'INFO' ? 'warning' : 'danger'" ng-style=" notification.leido == false ? { 'font-weight' :'bold' } : {'font-weight' :'normal'}" ng-click="dbo.viewNotification(notification.id, notification.leido, notification.notificacion)">
                                <td>{{notification.titulo}}</td>
                                <td>{{notification.enviadopor}}</td>
                                <td>{{notification.creado}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading" style="padding: 0px 10px;">
                    <table width="100%">
                        <tr>
                            <td style="text-align: left;"><h4><label class="text-primary" style="margin-bottom: 0px;">{{'dashboardText7' | translate}}</label></h4></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body" ng-style="styleScrollProccess" style="padding-top: 0px;" scroll-proccess>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>{{'dashboardTbhProcess' | translate}}</th>
                            <th>{{'dashboardTbhApplicType' | translate}}</th>
                            <th>{{'dashboardTbhStarted' | translate}}</th>
                            <th>{{'dashboardTbhEnd' | translate}}</th>
                            <th>{{'dashboardTbhState' | translate}}</th>
                            <th>{{'dashboardTbhAdvance' | translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="dbo.proccess.length === 0">
                            <td colspan="5">
                                <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error:</span>
                                    {{'dashboardEpplicEmpty' | translate}}
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="dbo.proccess.length != 0" ng-repeat="procces in dbo.proccess">
                            <td>{{procces.actividad}}</td>
                            <td>{{procces.tipoPostulacion | translate}}</td>
                            <td>{{procces.fechaInicio.substr(0,10)}}</td>
                            <td>{{procces.fechaFin.substr(0,10)}}</td>
                            <td>{{procces.estado | translate}}</td>
                            <td>
                                <div ng-show="procces.estado == 'ENPROGRESO'" class="progress progress-striped" style="margin: 0px;">
                                    <div class="progress-bar {{dbo.classProgress}}" role="progressbar"
                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{procces.avancePostulacion}}%">
                                        <span ng-class="{'text-primary' : procces.avancePostulacion < 40}">{{procces.avancePostulacion}}%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs btn-warning" style="font-size: 12px;" ng-click="dbo.viewProccess(procces)" title="{{'dashboardViewApplic' | translate}}">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>{{'DETAIL' | translate}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="dbo.user.userRole == 'Analista'" class="row" >
        <div class="col-md-12 panel panel-default" style="padding-bottom: 20px;">
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading" style="padding: 0px 10px;">
                    <table width="100%">
                        <tr>
                            <td style="text-align: left;"><h4><label class="text-primary" style="margin-bottom: 0px;">{{'dashboardText6' | translate}}</label><span ng-if="dbo.noReadNotifCount > 0" class="notifications" ng-style="dbo.noReadNotifCount > 9 ? {'padding' : '9px 10px 10px 10px'} : {'padding' : '9px 13px 13px 13px'}">{{dbo.noReadNotifCount}}</span></h4></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body" ng-style="styleScrollNotifications" style="padding-top: 0px;" scroll-notifications>
                    <table class="table table-hover table-striped" style="margin-bottom: 0px;">
                        <thead>
                        <tr>
                            <th>{{'dashboardTbhTitle' | translate}}</th>
                            <th>{{'dashboardTbhSentBy' | translate}}</th>
                            <th>{{'dashboardTbhCreated' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="dbo.notifications.length === 0">
                            <td colspan="5">
                                <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error:</span>
                                    {{'dashboardNotifEmpty' | translate}}
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="dbo.notifications.length != 0" title="{{'dashboardViewNotif' | translate}}" ng-repeat="notification in dbo.notifications" ng-class="notification.prioridad == 'INFO' ? 'warning' : 'danger'" ng-style=" notification.leido == false ? { 'font-weight' :'bold' } : {'font-weight' :'normal'}" ng-click="dbo.viewNotification(notification.id, notification.leido, notification.notificacion)">
                            <td>{{notification.titulo}}</td>
                            <td>{{notification.enviadopor}}</td>
                            <td>{{notification.creado}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading" style="padding: 0px 10px;">
                    <table width="100%">
                        <tr>
                            <td style="width: 60%; text-align: left;"><h4><label class="text-primary" style="margin-bottom: 0px;">{{'Buzón de procesos'}}</label></h4></td>
                            <td style="width: 40%; text-align: right;">
                                <button type="button" class="btn btn-default btn-primary" ng-click="dbo.searchApplication()">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Búsqueda avanzada
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body" style="padding-top: 0px;">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></span>
                                <input type="text" ng-model="q" class="form-control" placeholder="Búsqueda rápida" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div ng-show="dbo.advanceSearch" class="col-md-3">
                            <button type="button" class="btn btn-default btn-xs btn-danger" ng-click="dbo.resetSearch()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Limpiar búsqueda
                            </button>
                        </div>
                    </div>
                    <table class="table table-hover table-striped" style="margin-bottom: 0px;">
                        <thead>
                        <tr>
                            <th style="width: 5%;">PID</th>
                            <th style="width: 15%;">Nombres</th>
                            <th style="width: 15%;">Apellidos</th>
                            <th style="width: 15%;">Título</th>
                            <th style="width: 5%;">Tipo Perfil</th>
                            <th style="width: 15%;">Proceso</th>
                            <th style="width: 15%;">Enviado hace</th>
                            <th style="width: 15%;" colspan="4"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="dbo.applicationsProccess.length === 0">
                            <td colspan="12">
                                <div role="alert" class="alert alert-danger" style="margin-bottom: 0; padding: 5px;">
                                    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="sr-only">Error:</span>
                                    {{'No existen registros'}}
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="dbo.applicationsProccess.length !== 0" dir-paginate="application in dbo.applicationsProccess | filter:q | itemsPerPage: dbo.pageSize" current-page="dbo.currentPage" total-items="dbo.totalRecords">
                            <td style="vertical-align: middle;">{{application.pid}}</td>
                            <td style="vertical-align: middle;">{{application.nombres}}</td>
                            <td style="vertical-align: middle;">{{application.apellidos}}</td>
                            <td style="vertical-align: middle;">{{application.titulo}}</td>
                            <td style="vertical-align: middle;">{{application.tipoPostulacionNombre}}</td>
                            <td style="vertical-align: middle;"></td>
                            <!--<td>{{application.fechaFin.substr(0,19)}}</td>-->
                            <td style="vertical-align: middle;">{{application.fechaDesde}}</td>
                            <td colspan="4" style="vertical-align: middle;">
                                <button type="button" class="btn btn-default btn-xs" style="font-size: 12px;" ng-click="dbo.viewPreviousContact(application.idPostulacion)" title="Ver datos de institución registrada">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true" style="margin: 0;"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs btn-info" style="font-size: 12px;" ng-click="dbo.viewEducationDetail(application.idPostulacion)" title="Educación">
                                    <span class="glyphicon glyphicon-education" aria-hidden="true" style="margin: 0;"></span>
                                </button>
                                <a type="button" class="btn btn-default btn-xs btn-warning" style="font-size: 12px;" ng-href="#/application-detail/{{application.idPostulacion}}" target="_blank" title="{{'dashboardViewApplic' | translate}}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="margin: 0;"></span>
                                </a>
                                <button type="button" class="btn btn-default btn-xs btn-success" style="font-size: 12px;" ng-click="dbo.selectScale(application)" title="Calificar postulación">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin: 0;"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="text-left" style="margin: 15px 0 0 15px;">
                            Total de registros: {{dbo.totalRecords}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" on-page-change="dbo.pageChangeHandler(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>