<div class="jumbotron" ng-controller="institutionRegisterCtrl as irc">
  <div class="row">
    <div class="col-md-4 with-margin-right-1 with-margin-left-1">
      <h3>{{'userregText1' | translate}}</h3>
        <p class="text-justify">{{'instregText1' | translate}}</p>
        <p class="text-justify">{{'instregText2' | translate}}</p>
        <p class="text-justify">{{'instregText3' | translate}}</p>
        <p class="text-justify">{{'instregText4' | translate}}</p>
    </div>
    <div class="col-md-7 panel panel-default with-margin-left-1">
        <div class="panel panel-info" style="margin: 15px 0px;">
            <div class="panel-heading">
                <table width="100%">
                    <tr>
                        <td style="text-align: left;"><h3 style="margin: 0;">{{'userregText3' | translate}}</h3></td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="irc.register()" name="userForm">
                    <div class="form-group required">
                        <label for="institution" class="col-sm-5 control-label">{{'instregLbInstname' | translate}} *</label>
                        <div class="col-sm-6">
                            <select class="form-control" required="required"
                                    ng-options="item as item.decription | translate for item in irc.institutions track by item.id"
                                    ng-model="irc.institutionSelected">
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="acronymsName" class="col-sm-4 control-label">{{'instregLbAcronname' | translate}} *</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="acronymsName"
                                   ng-model="urc.userName" required="required"
                                   placeholder="{{'instrregPhInstname' | translate}}"
                                   name="userName" ng-pattern="patternAcronymsName">
                        </div>
                        <span class="col-sm-12 text-danger text-right" ng-show="userForm.acronymsName.$error.pattern">{{'instrregMsgText1' | translate}}</span>
                    </div>
                    <div class="form-group required">
                        <label for="userName" class="col-sm-4 control-label">{{'userregLbUsername' | translate}} *</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="userName"
                                   ng-model="urc.userName" required="required"
                                   placeholder="{{'userregPhUsername' | translate}}"
                                   name="userName" ng-pattern="patternUserName">
                        </div>
                        <span class="col-sm-12 text-danger text-right" ng-show="userForm.userName.$error.pattern">{{'userregMsgText1' | translate}}</span>
                    </div>
                    <div class="form-group required">
                        <label for="email" class="col-sm-4 control-label">{{'userregLbEmail' | translate}} *</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" id="email"
                                   ng-model="urc.email" required="required"
                                   placeholder="{{'userregPhEmail' | translate}}" name="email">
                        </div>
                        <span class="col-sm-12 text-danger text-right" ng-show="userForm.email.$error.email">{{'userregMsgText3' | translate}}</span>
                    </div>
                    <div class="form-group required">
                        <label for="nombres" class="col-sm-4 control-label">{{'userregLbFirstName' | translate}} *</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="nombres"
                                   ng-model="urc.nombres" required="required" placeholder="{{'userregPhFirstName' | translate}}"
                                   name="firstName" ng-pattern="patternFirstName">
                        </div>
                        <span class="col-sm-12 text-danger text-right" ng-show="userForm.firstName.$error.pattern">{{'userregMsgText4' | translate}}</span>
                    </div>
                    <div class="form-group required">
                        <label for="apellidos" class="col-sm-4 control-label">{{'userregLbLastName' | translate}} *</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="apellidos"
                                   ng-model="urc.apellidos" required="required"
                                   placeholder="{{'userregPhLastName' | translate}}"
                                   name="lastName" ng-pattern="patternLastName">
                        </div>
                        <span class="col-sm-12 text-danger text-right" ng-show="userForm.lastName.$error.pattern">{{'userregMsgText5' | translate}}</span>
                    </div>
                    <div class="form-group required">
                        <label for="contactNumber" class="col-sm-4 control-label">{{'instregLbContactNumber' | translate}} *</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="contactNumber"
                                   ng-model="irc.contactNumber" required="required" placeholder="{{'instregPhContactNumber' | translate}}"
                                   name="firstName" ng-pattern="patternFirstName">
                        </div>
                        <span class="col-sm-12 text-danger text-right" ng-show="userForm.contactNumber.$error.pattern">{{'userregMsgText4' | translate}}</span>
                    </div>
                    <div class="form-group required">
                        <label for="cellNumber" class="col-sm-4 control-label">{{'instregLbCellNumber' | translate}} *</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cellNumber"
                                   ng-model="irc.cellNumber" required="required"
                                   placeholder="{{'instregPhCellNumber' | translate}}"
                                   name="lastName" ng-pattern="patternCellNumber">
                        </div>
                        <span class="col-sm-12 text-danger text-right" ng-show="userForm.cellNumber.$error.pattern">{{'userregMsgText5' | translate}}</span>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">{{'userloginBtnRegister' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
