<div class="jumbotron" ng-controller="userRegisterCtrl as urc">
  <div class="row">
    <div class="col-md-4 with-margin-right-1 with-margin-left-1">
      <h3>{{'userregText1' | translate}}</h3>
      <p ng-bind-html="'recoverPassText1' | translate" style="text-align: left;"></p>
    </div>
    <div class="col-md-7 panel panel-default with-margin-left-1">
        <div class="panel panel-info" style="margin: 15px 0px;">
            <div class="panel-heading">
                <table width="100%">
                    <tr>
                        <td style="text-align: left;"><h3 style="margin: 0;">{{'recoverPassText2' | translate}}</h3></td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="urc.recoverPassword()" name="recoverPassForm">
                    <div class="form-group required">
                        <label for="emailRecoverPass" class="col-sm-4 control-label">{{'userregLbEmail' | translate}} *</label>
                        <div class="col-sm-7">
                            <input type="emailRecoverPass" class="form-control" id="emailRecoverPass"
                                   ng-model="urc.emailRecoverPass" required="required"
                                   placeholder="{{'userregPhEmail' | translate}}" name="email">
                        </div>
                        <span class="col-sm-12 text-danger text-right" ng-show="recoverPassForm.emailRecoverPass.$error.email">{{'userregMsgText3' | translate}}</span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">{{'recoverPassBtnSolicit' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
