<div class="jumbotron" ng-controller="userLoginCtrl as ul">
    <div class="row" ng-init="ul.confirm()" >
            <div class="col-md-12 panel panel-default" style="padding: 20px;}">
                <div class="col-md-4">
                    <label class="text-{{ul.messageClass}}">{{ul.message | translate}}</label>
                </div>
                <div class="col-md-8">
                    <button class="btn btn-success" ng-click="ul.gotToLogin()">Login</button>
                </div>
            </div>
    </div>
</div>