<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Postulaci&oacute;n Prometeo</title>
    <link type="image/x-icon" href="images/favicon.ico" rel="shortcut icon">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ui-bootstrap/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/redmond/jquery-ui.css" />
    <link rel="stylesheet" href="bower_components/intl-tel-input/css/intlTelInput.css" />
    <link rel="stylesheet" href="bower_components/Font-Awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/strength.css">
    <link rel="stylesheet" href="styles/dialogs.css">
    <link rel="stylesheet" href="styles/checkbox.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) modules/main/css-->
    <link rel="stylesheet" href="modules/main/css/main.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) modules/admin/css-->
    <link rel="stylesheet" href="modules/admin/css/ccsCustom.css">
    <link rel="stylesheet" href="modules/admin/css/userLogin.css">
    <!-- endbuild -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbower -->
  </head>
  <body ng-app="prometeoApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="div-loading" class="modal">
      <img src="images/ajax-loader.gif" class="ajax-loader"/>
    </div>
    <div id="main">
      <div id="inner" ng-controller="mainCtrl as mc" ng-init="initCtrl()">
       <!-- <p>{{ 'HEADLINE' | translate }}</p>
        <p translate="PARAGRAPH" translate-values="{username: '<span style=\'color:red;\'>HACKED</span>'}"></p>-->
        <div id="bg"></div>
        <div id="header">
          <div id="logo-prometeo">
            <a href="#/{{connectedUser.urlStart}}">
              <span>Prometeo</span>
            </a>
          </div>
        </div>
        <div>
          <div class="navbar navbar-default" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

              </div>
              <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                  <li ng-repeat="menu in mainMenu" ng-class="{active: $route.current.activetab == menu.activetab}">
                    <a href="{{menu.href}}">{{menu.title | translate}}</a>
                  </li>
                  <li ng-if="connectedUser.isConnected">
                    <a href="" ng-click="logout(false)">{{'menuLogout' | translate}}</a>
                  </li>
                  <!--<li ng-class="{active: $route.current.activetab == 'register'}" ng-show="!connectedUser.isConnected"><a ng-href="#/user-register">{{'menuRegister' | translate}}</a></li>
                  <li ng-class="{active: $route.current.activetab == 'bases-application'}" ng-show="!connectedUser.isConnected"><a ng-href="#/bases-application">{{'menuBases' | translate}}</a></li>
                  <li ng-class="{active: $route.current.activetab == 'magazines'}" ng-show="!connectedUser.isConnected"><a ng-href="#/magazines">{{'menuMagazines' | translate}}</a></li>
                  <li ng-class="{active: $route.current.activetab == 'institution'}" ng-show="!connectedUser.isConnected"><a ng-href="#/institution-register">{{'menuInstitution' | translate}}</a></li>
                  <li ng-class="{active: $route.current.activetab == 'faq'}" ng-show="!connectedUser.isConnected"><a ng-href="#/faq">{{'menuFAQ' | translate}}</a></li>
                  <li ng-class="{active: $route.current.activetab == 'contact'}" ng-show="!connectedUser.isConnected"><a ng-href="#/contact">{{'menuContact' | translate}}</a></li>
                  <li ng-class="{active: $route.current.activetab == 'status-application'}" ng-show="connectedUser.isConnected"><a ng-href="#/status-application">{{'menuStatusApp' | translate}}</a></li>
                  <li ng-class="{active: $route.current.activetab == 'notifications'}" ng-show="connectedUser.isConnected"><a ng-href="#/notifications">{{'menuNotifications' | translate}}</a></li>
                  <li ng-class="{active: $route.current.activetab == 'help'}" ng-show="connectedUser.isConnected"><a ng-href="#/bases-application">{{'menuHelp' | translate}}</a></li>
                  <li ng-class="{active: $route.current.activetab == 'user-profile'}" ng-show="connectedUser.isConnected"><a ng-href="#/user-profile">{{'menuUserProfile' | translate}}</a></li>
                  <li ng-show="connectedUser.isConnected"><a href="" ng-click="logout(false)">{{'menuLogout' | translate}}</a></li>-->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div style="text-align: right; padding: 0 15px;">
          <label ng-show="connectedUser.isConnected" class="text-primary">{{'dashboardWelcome' | translate}}:  {{connectedUser.userRole | translate}}, {{connectedUser.userFirstName}} {{connectedUser.userLastName}}</label>
          <label ng-show="!connectedUser.isConnected" class="text-primary" ng-click="changeLanguage()">{{'language' | translate}}</label>
        </div>
        <div class="container">
          <div ng-view></div>
        </div>
        <div class="footer">
          <div class="container">
            <div class="col-sm-5">
              <p>{{'footerAddress' | translate}}: Av. 9 de Octubre N22-48 y Gil Ramirez Dávalos, Casa Patrimonial
                <br>
                {{'footerEmail' | translate}}:
                <a href="mailto:prometeo@senescyt.gob.ec">prometeo@senescyt.gob.ec</a>
                <br>
                {{'footerPhone' | translate}}:
                <!--<img class="skype_c2c_logo_img" width="0" height="0" src="resource://skype_ff_extension-at-jetpack/skype_ff_extension/data/call_skype_logo.png">--> +(593 2) 2222 777 - Ext: 2704
                <br>
                Quito, Ecuador </p>
            </div>
            <div class="col-sm-3">
              <ul>
                <li><a href="condiciones.do">{{'footerPrivacyPolicy' | translate}}</a></li>
                <li><a href="contacto.do">{{'footerContact' | translate}}</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="redes">
                <li>
                  <a href="http://www.twitter.com/PrometeoEc" title="Twitter" target="_blank">
                    <img src="images/ico_twitter.png" alt="Twitter">
                  </a>
                </li>
                <li>
                  <a href="http://www.facebook.com/pages/Proyecto-Prometeo/281217265276032" title="Facebook" target="_blank">
                    <img src="images/ico_facebook.png" alt="Facebook">
                  </a>
                </li>
                <li>
                  <a href="http://www.youtube.com/user/EduSuperiorEc" title="You Tube" target="_blank">
                    <img src="images/ico_youtube.png" alt="YouTube">
                  </a>
                </li>
                <li>
                  <a href="http://www.flickr.com/photos/EduSuperiorEc/" title="Flickr" target="_blank">
                    <img src="images/ico_flickr.png" alt="Flickr">
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
      /* !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');*/
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="bower_components/bootstrap/dist/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="bower_components/angular-dialog-service/example/js/dialogs.min.js"></script>
    <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
    <script src="bower_components/ui-bootstrap-tpls/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/password-strength/ng-password-strength.min.js"></script>
    <script src="bower_components/password-strength/strength.js"></script>
    <script src="bower_components/intl-tel-input/js/intlTelInput.min.js"></script>
    <script src="bower_components/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
    <script src="bower_components/bootstrap-wysiwyg/jquery.hotkeys.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="modules/app.js"></script>
    <!-- build:js({.tmp,app}) scripts/scripts.js Module: Main-->
    <script src='modules/main/moduleMain.js'></script>
    <script src="modules/main/controllers/mainCtrl.js"></script>
    <script src="modules/main/controllers/aboutCtrl.js"></script>
    <script src="modules/main/controllers/basesApplicationCtrl.js"></script>
    <script src="modules/main/controllers/magazinesCtrl.js"></script>
    <script src="modules/main/controllers/faqCtrl.js"></script>
    <script src="modules/main/controllers/contactCtrl.js"></script>
    <script src="modules/main/directives/accordion.js"></script>
    <script src="modules/main/services/mainService.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js Module: Admin-->
    <script src='modules/admin/moduleAdmin.js'></script>
    <script src="modules/admin/controllers/userRegisterCtrl.js"></script>
    <script src="modules/admin/controllers/userLoginCtrl.js"></script>
    <script src="modules/admin/controllers/dashboardCtrl.js"></script>
    <script src="modules/admin/controllers/institutionRegisterCtrl.js"></script>
    <script src="modules/admin/js/jsCustom.js"></script>
    <script src="modules/admin/directives/directives.js"></script>
    <script src="modules/admin/services/userRegisterService.js"></script>
    <script src="modules/admin/services/userLoginService.js"></script>
    <script src="modules/admin/services/catalogsService.js"></script>
    <script src="modules/admin/services/institutionRegisterService.js"></script>
    <script src="modules/admin/services/dashboardService.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js Module: Applic-->
    <script src='modules/applic/moduleApplic.js'></script>
    <script src="modules/applic/controllers/startApplicCtrl.js"></script>
    <script src="modules/applic/controllers/section1Ctrls.js"></script>
    <script src="modules/applic/controllers/section2Ctrls.js"></script>
    <script src="modules/applic/controllers/section3Ctrls.js"></script>
    <script src="modules/applic/controllers/section4Ctrls.js"></script>
    <script src="modules/applic/controllers/section5Ctrls.js"></script>
    <script src="modules/applic/controllers/section6Ctrls.js"></script>
    <script src="modules/applic/controllers/applicDetailCtrls.js"></script>
    <script src="modules/applic/controllers/scaleQualifyCtrls.js"></script>
    <script src="modules/applic/services/applicationService.js"></script>
    <script src="modules/applic/services/section2Service.js"></script>
    <script src="modules/applic/services/section3Service.js"></script>
    <script src="modules/applic/services/section4Service.js"></script>
    <script src="modules/applic/services/section5Service.js"></script>
    <script src="modules/applic/services/section6Service.js"></script>
    <script src="modules/applic/services/catalogsApplicService.js"></script>
    <script src="modules/applic/services/scaleQualifyService.js"></script>
    <script src="modules/applic/directives/directives.js"></script>
    <!-- endbuild -->
</body>
</html>
