<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-search"></span>Búsqueda Avanzada
    </h4>
</div>
<form name="changePasswordForm">
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body">
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="pid">ID de Proceso</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="pid" id="pid"
                               placeholder="" value="null"
                               ng-model="searchCriteria.pid" ng-pattern="patternDurationYears" />
                    </div>
                </div>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="profiles">Perfil</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" name="profiles" id="profiles"
                                ng-options="item as item.description | translate for item in searchCriteria.profiles track by item.id"
                                ng-model="searchCriteria.perfil">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="nombre">Nombre</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="nombre" id="nombre"
                               placeholder="" value="null"
                               ng-model="searchCriteria.nombre" ng-pattern="patternNombre" />
                    </div>
                </div>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="apellido">Apellido</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="apellido" id="apellido"
                               placeholder="" value="null"
                               ng-model="searchCriteria.apellido" ng-pattern="patternApellido" />
                    </div>
                </div>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="birthCountry">País de Nacimiento</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" name="birthCountry" id="birthCountry"
                                ng-options="item as item.description | translate for item in searchCriteria.birthCountrys track by item.id"
                                ng-model="searchCriteria.paisNacimiento">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="residenceCountry">País de residencia</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <select class="form-control" name="residenceCountry" id="residenceCountry"
                                ng-options="item as item.description | translate for item in searchCriteria.residenceCountrys track by item.id"
                                ng-model="searchCriteria.paisResidencia">
                            <option value="">{{'CHOOSE_OPTION' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group input-group-xs">
                <label class="control-label col-xs-4" for="proceso">Proceso</label>
                <div class="col-xs-7" style="padding-right: 0px;">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               name="proceso" id="proceso"
                               placeholder="" value="null"
                               ng-model="searchCriteria.proceso" ng-pattern="patternproceso" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button type="submit" class="btn btn-success pull-right" ng-click="submitForm()">Buscar</button>
</div>
</form>