<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-user"></span>Contacto previo
    </h4>
</div>
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;">
        <div class="panel-body" style="padding-bottom: 0; padding-top: 0;">
            <div ng-if="!previousContact.dataEmpty">
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Institución</strong>
                    </div>
                    <div class="col-xs-7">
                        {{previousContact.institutionName}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Siglas</strong>
                    </div>
                    <div class="col-xs-7">
                        {{previousContact.acronym}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Nombre del contacto</strong>
                    </div>
                    <div class="col-xs-7">
                        {{previousContact.contactName}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Email</strong>
                    </div>
                    <div class="col-xs-7">
                        {{previousContact.contactEmail}}
                    </div>
                </div>
            </div>
            <div ng-if="previousContact.dataEmpty" class="col-xs-12" style="padding: 0px; margin-bottom: 0px;">
                <div role="alert" class="alert alert-danger" style="margin: 10px; padding: 5px;">
                    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                    <span class="sr-only">Error:</span>
                    {{'No existe contacto previo'}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-success pull-right" ng-click="cancel()">{{'DIALOGS_OK' | translate}}</button>
</div>