<div class="modal-header" style="background-color: #d9edf7;" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-education"></span>Detalle de Educación
    </h4>
</div>
<div class="modal-body" >
    <div class="panel panel-info" style="margin: 5px 0px;height : 281px;" ng-style="educations.length > 1 ? { 'overflow-y' : 'scroll'} : ''">
        <div class="panel-body" style="padding-bottom: 0; padding-top: 0;">
            <div class="row" ng-repeat="education in educations">
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Título</strong>
                    </div>
                    <div class="col-xs-7">
                        {{education.titulo}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Área de especialización</strong>
                    </div>
                    <div class="col-xs-7">
                        {{education.especializacionDescripcion}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Sub área de especialización</strong>
                    </div>
                    <div class="col-xs-7">
                        {{education.subEspecializacionDescripcion}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Universidad</strong>
                    </div>
                    <div class="col-xs-7">
                        {{education.universidad}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>País</strong>
                    </div>
                    <div class="col-xs-7">
                        {{education.paisNombre}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Fecha de Inicio</strong>
                    </div>
                    <div class="col-xs-7">
                        {{education.fechaInicio}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Fecha de Finalización</strong>
                    </div>
                    <div class="col-xs-7">
                        {{education.fechaFin}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-xs-5">
                        <strong>Título Obtenido</strong>
                    </div>
                    <div class="col-xs-7">
                        {{education.tituloObtenidoNombre | translate}}
                    </div>
                </div>
                <div class="row" style="margin: 10px 0 0 0;">
                    <div class="col-xs-12">
                        <strong>Archivo</strong>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel-heading" style="padding: 5px 15px 5px 0;">
                            <a href="{{education.urlFile}}" target="_blank"><span class="glyphicon glyphicon-download-alt panel-title" aria-hidden="true"></span>
                                <span class="sr-only"></span>{{education.nombreFile}}
                            </a>
                        </div>
                    </div>
                </div>
                <hr ng-show="educations.length > 1" style="margin: 10px;">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-success pull-right" ng-click="cancel()">{{'DIALOGS_OK' | translate}}</button>
</div>