
.without-padding-right {
    padding-right: 0;
}
.without-padding-left {
    padding-left: 0;
}



@media (min-width: 1000px) {
    .with-margin-left-1{
        margin-left: 2%;
    }
    .with-margin-right-1{
        margin-right: 2%;
    }
}

@media (min-width: 700px) {
    .col-sm-12.text-danger.text-right {
        padding: 0 11%;
    }
}

.glyphicon {
    margin: 0 5px 0 0;
}

.navbar-nav > li > button {
    padding-bottom: 15px;
    padding-top: 15px;
}

.dashboardBtnStartApplication {
    margin: 20px 10px;
}

.col-md-12.panel.panel-default {
    margin-bottom: 0;
}
.notifications{
    border-color: #fff;
    border-radius: 4px;
    background-image : url('../../../images/social_balloon_35.png');
    font-size: 11px;
    color: #fff;
    display: inline;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    background-repeat: no-repeat;
}



