<div class="jumbotron" ng-controller="basesApplicationCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info" style="margin: 0px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="text-align: left;"><h3 style="margin: 0;">{{'basesAppText1' | translate}}</h3></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <p class="text-justify">{{'basesAppText2' | translate}}</p>
                    <ol align="justify">
                        <li><p>{{'basesAppText3' | translate}}</p></li>
                        <li><p>{{'basesAppText4' | translate}}</p></li>
                        <li><p>{{'basesAppText5' | translate}}</p></li>
                        <li><p>{{'basesAppText6' | translate}}</p></li>
                        <li><p>{{'basesAppText7' | translate}}</p></li>
                        <li><p>{{'basesAppText8' | translate}}</p></li>
                        <li><p>{{'basesAppText9' | translate}}</p></li>
                    </ol>
                    <p>
                        <a target="_blank" href="files/bases_{{language}}.pdf">{{'basesAppText10' | translate}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>