<div class="jumbotron" ng-controller="faqCtrl">
    <div class="row">
        <div class="col-md-12 panel panel-default" style="padding-bottom: 20px;">
            <div class="panel panel-info" style="margin: 15px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="text-align: left;"><h3 style="margin: 0;">{{'faqText1' | translate}}</h3></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <div myaccordion>
                        <h3>{{'faqQuestion1' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer1' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion2' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer2' | translate}}</p>
                            <ul type="none">
                                <li>{{'faqAnswer2.1' | translate}}</li>
                                <li>{{'faqAnswer2.2' | translate}}</li>
                                <li>{{'faqAnswer2.3' | translate}}</li>
                                <li>{{'faqAnswer2.4' | translate}}</li>
                                <li>{{'faqAnswer2.5' | translate}}</li>
                                <li>{{'faqAnswer2.6' | translate}}</li>
                                <li>{{'faqAnswer2.7' | translate}}</li>
                                <li>{{'faqAnswer2.8' | translate}}</li>
                            </ul>
                        </div>
                        <h3>{{'faqQuestion3' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer3' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion4' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer4' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion5' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer5' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion6' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer6' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion7' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer7' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion8' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer8' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion9' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer9' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion10' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer10' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion11' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer11' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion12' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer12' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion13' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer13' | translate}}</p>
                        </div>
                        <h3>{{'faqQuestion14' | translate}}</h3>
                        <div>
                            <p>{{'faqAnswer14' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>