<div class="jumbotron" ng-controller="magazinesCtrl">
    <div class="row">
        <div class="col-md-3">
            <h3>{{'magazineText1' | translate}}</h3>
            <ul ng-repeat="magazine in magazines" align="justify">
                <li><a href="" ng-click="loadMagazine(magazine.fileName, magazine.title)">{{magazine.title}}</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="panel panel-info" style="margin: 0px 0px;">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td style="text-align: left;"><h5 style="margin: 0;">{{magazineTitleActive}}</h5></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <iframe src="{{magazineFileNameActive}}" style="width:100%; height:600px;" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>